body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: hsl(210, 46%, 95%);
}

img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-color: rgba(100, 74, 166, 0.8);
    border-width: 2px;
    border-style: solid;
}

h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.one {
    background-color: hsl(263, 55%, 52%);
    color: white;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 7%;
    border-radius: 5%;
    background-image: url(./bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-origin: content-box;
}

.two {
    background-color: hsl(217, 19%, 35%);
    color: white;
    padding: 7%;
    border-radius: 5%;
}

.three {
    color: hsl(219, 29%, 14%);
    grid-column: 1 / span 1;
    grid-row: 2;
    background-color: white;
    padding: 7%;
    border-radius: 5%;
}

.four {
    background-color: hsl(219, 29%, 14%);
    color: white;
    grid-column: 2 / span 2;
    grid-row: 2;
    padding: 7%;
    border-radius: 5%;
}

.five {
    color: hsl(219, 29%, 14%);
    grid-column: 4;
    grid-row: 1 / span 2;
    background-color: white;
    padding: 7%;
    border-radius: 5%;
}

q {
    color: hsl(0, 0%, 81%)
}

.grid {
    display: grid;
    grid-gap: 25px;
    padding: 10%;
}
